<div class="well col-sm-4 col-sm-offset-4" style="text-align: center;">

  {{show-resource update=(action "update") title=model.title url=model.url topic=model.topic description=model.description}}

  <p><button {{action "delete"}} id="delete">Delete</button></p>

</div>



