<h2 id="title">Flatiron Library</h2>
<ul>
  <li id="resources">
    {{#link-to 'resources' class="resources"}}Resources{{/link-to}}
  </li>
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
</ul>
{{outlet}}
